{{define "head" -}}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}} | It's Tim Johnson</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/{{.CSSFile}}.css">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <script src="https://kit.fontawesome.com/692d0a4337.js" crossorigin="anonymous"></script>
    {{- range .JSScripts}}
    <script type="text/javascript" {{.}}></script>
    {{end}}
</head>
{{- end}}

{{define "header" -}}
<header>
    <a id="title" href="/">hey,&nbsp;it's&nbsp;Tim&nbsp;Johnson</a>
    <nav>
        <ul>
            <li><a href="/" class="plain-link {{- if eq $.URI "/"}} current{{end}}">About</a></li>
            <li><a href="/blog" class="plain-link {{- if eq $.URI "/blog"}} current{{end}}">Blog</a></li>
            <li><a href="/projects" class="plain-link {{- if eq $.URI "/projects"}} current{{end}}">Projects</a></li>
            <li><a href="/contact" class="plain-link {{- if eq $.URI "/contact"}} current{{end}}">Contact&nbsp;Me</a></li>
        </ul>
    </nav>
</header>
{{- end}}

{{define "footer" -}}
<footer>
    <ul>    
        <li><a href="https://www.linkedin.com/in/timothy-m-johnson"><i class="fab fa-linkedin plain-link"></i></a></li>
    </ul>
</footer>
{{- end -}}