{{define "home" -}}
<!DOCTYPE html>
<html lang="en-us">
{{template "head" .}}
<body>
    {{template "header" .}}
    <div id="content-container">
        <main>
            <img src="assets/images/home-logo.svg" alt="logo" width="650px" height="auto"/>
            <div id="text">
                <h1>Hi, I'm Tim Johnson. Here's a quick summary of myself:</h1>
                <h2>Who am I?</h2>
                <p>
                    If I (Tim Johnson if you didn't catch that by now) were to choose three descriptions for myself,
                    I would pick software engineer/math guy, someone who watches anime and cartoons more often than 
                    live-action television, and well-adjusted adult. I have a <a href="/blog">blog</a> that you can read
                    to find out more!
                </p>
                <h2>What do I do?</h2>
                <p>
                    Currently my projects are few, but the gears are turning. You can find them on my 
                    <a href="/projects">projects</a> page. In my personal free time, I like to play D&D 
                    (if my friends could ever find the time), play video games like <a href="https://factorio.com/">Factorio</a>, 
                    and maintain a blissful ignorance of pop culture and most social media platforms. 
                </p>
                <h2>What do I want?</h2>
                <p>
                    Professionally, I want to be a part of teams making a difference, using backend technologies (and
                    the occasional frontend framework) on the web. This could be contributing to projects large or small
                    at big companies like FAANG, or joining a startup working on the next big thing. Everyone has an
                    idea, and I would love to contribute not only to the development of that idea but to the design,
                    planning, and expansion of that idea!
                </p>
                <p>
                    As for my personal goals, I'm currently in pursuit of self improvement. Among these are to
                    branch out socially, become the best physical version of myself, and explore creative activities like
                    writing, getting back into learning the piano, and expanding on/creating new personal projects.
                </p>
            </div>
        </main>
        {{template "footer" .}}
    </div>
</body>
</html>
{{- end -}}