footer {
    border-top-left-radius: 0.25em;
    background-color: $font-color;
    padding: 0.25em;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: width 0.5s;
    @media only screen and (max-width: $content-width) {
        border-top-left-radius: 0;
        position: static;
        width: 100%;
        text-align: right;
    }
    ul {
        display: inline-flex;
        flex-direction: row;
        li {
            display: block;
        }
    }
    a {
        margin: 0 0.25em;
    }

    .fab {
        color: white;
        font-size: 2.5em;
        transition: color 0.5s;
        &:hover, &.current {
            color: $primary-color;
        }
        @media only screen and (max-width: $content-width) {
            font-size: 2em;
        }
    }
}
