footer {
    background-color: $font-color;
    border-top-left-radius: 0.25em;
    bottom: 0;
    padding: 0.25em;
    position: fixed;
    text-align: right;
    right: 0;
    @media only screen and (max-width: $content-width) {
        border-top-left-radius: 0;
        width: 100%;
    }
    ul {
        display: inline-flex;
        flex-direction: row;
        li {
            display: block;
        }
    }
    a {
        margin: 0 0.25em;
    }

    .fab {
        color: white;
        font-size: 2.5em;
        @media only screen and (max-width: $content-width) {
            font-size: 2em;
        }
    }
}
