footer {
    background-color: $font-color;
    width: 100%;
    ul {
        display: flex;
        flex-direction: row;
        @media only screen and (max-width: $content-width) {
            justify-content: center;
        }
        li {
            display: block;
            color: white;
            padding: 2px 0.5em;
        }
    }
}
