header {
    flex: 0 1 auto;
    width: 100%;
    background-color: $tertiary-color;
    padding: 0.5em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media only screen and (max-width: $content-width) {
        flex-direction: column;
        justify-content: center;
    }
}

#title {
    font-size: 2em;
    margin: 0 0.2em;
    text-decoration: none;
    color: $font-color;

    @media only screen and (max-width: $content-width) {
        margin: 0 auto 0.25em;
    }
}

nav {
    height: 100%;
    margin-left: 2em;
    ul {
        height: 100%;
        display: flex;
        flex-direction: row;
        li {
            margin: 0;
            padding: 0;
        }
    }
    a {
        padding: 2px 0.5em;
        text-decoration: none;
        color: $font-color;
        transition: color 0.5s;
        &:hover, &.current {
            color: $primary-color;
        }
    }
    li+li>a {
        border-left: solid 1px #444;
    }

    @media only screen and (max-width: $content-width) {
        margin: 0 auto;
    }
}
