header {
    flex: 0 1 auto;
    width: 100%;
    height: auto;
    background-color: $tertiary-color;
    padding: 0.5em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media only screen and (max-width: $content-width) {
        display: block;
        text-align: center;
    }
}

#title {
    color: $font-color;
    display: inline-block;
    font-size: 3em;
    margin: 0 0.2em;
    text-decoration: none;
    @media only screen and (max-width: $content-width) {
        font-size: 2em;
        margin: 0 0 0.25em;
        width: 100%;
    }
}

nav {
    display: inline-block;

    ul {
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    a {
        font-size: 1.5em;
        padding: 2px 0.5em;
        text-decoration: none;
        color: $font-color;
        transition: color 0.5s;
        &:hover, &.current {
            color: $primary-color;
        }
        @media only screen and (max-width: $content-width) {
            font-size: 1em;
        }
    }
    li+li>a {
        border-left: solid 1px #444;
    }
}
