@import 'universal';

#content-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: $content-width;
    @media only screen and (max-width: $content-width) {
        width: 100%;
    }
}

#header-spacer {
    background-image: linear-gradient(to bottom, 
            rgba(255, 255, 255, 0), 
            rgba(255, 255, 255, 0) 20%,
            rgba(255, 255, 255, 0.2) 20%,
            rgba(255, 255, 255, 0.2) 40%,
            rgba(255, 255, 255, 0.4) 40%,
            rgba(255, 255, 255, 0.4) 60%,
            rgba(255, 255, 255, 0.6) 60%,
            rgba(255, 255, 255, 0.6) 80%,
            rgba(255, 255, 255, 0.8) 80%,
        );
    flex: 0 1 auto;
    height: 5em;
}

main {
    background-color: white;
    flex: 1 1 auto;
    padding: 1em;
    h1 {
        font-weight: normal;
        text-align: center;
    }
}
