// Global Imports
@import 'variables';
@import 'reset';
@import 'classes';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: $font-color;
    @media only screen and (max-width: $content-width) {
        display: block;
    }
}

@import 'header';

#content-container {
    flex: 1 1 auto;
    background-color: $background-color;
}

@import 'footer';
