@import 'globals/page';

.project {
    .links {
        margin: 0.5em 0 1em 2em;
        @media only screen and (max-width: $content-width) {
            margin-left: 0;
            text-align: center;
        }
        a {
            font-size: 1.2em;
            padding: 0.2em 0.5em;
            &+a {
                margin-left: 0.25em;
            }
        }
    }
    h2 {
        font-weight: normal;
        padding-bottom: 3px;
        padding-left: 3em;
        margin: 1em 2em 0.5em;
        border-bottom: 1px solid gray;
        @media only screen and (max-width: $content-width) {
            padding-left: 0;
            text-align: center;
        }
    }
    p {
        padding: 0 2em;
        @media only screen and (max-width: $content-width) {
            padding: 0;
        }
        @media only screen and (max-width: $narrow-width) {
            font-size: 0.9em;
        }
        &+p {
            margin-top: 1em;
        }
    }
    img {
        background-color: $tertiary-color;
        border-radius: 3px;
        display: block;
        margin: 1em 2em;
        padding: 1em;
        @media only screen and (max-width: $content-width) {
            margin: 1em auto;
        }
        &:nth-of-type(odd) {
            float: right;
            @media only screen and (max-width: $content-width) {
                float: none;
            }
        }
        &:nth-of-type(even) {
            float: left;
            @media only screen and (max-width: $content-width) {
                float: none;
            }
        }
    }
}
