@import 'partials/page/page';

@import 'partials/slider-game';

#slider-game {
    margin-top: 1em;
    @media only screen and (max-width: $narrow-width) {
        display: none;
    }
    #game-container {
        margin-left: auto;
        margin-right: auto;
    }
    #info {
        margin: 0 auto;
        width: 500px;
        h3 {
            margin: 0.4em 0 0.1em 3.5em;
        }
        dl {
            text-align: center;
            font-size: 0.9em;
        }
        dt {
            display: inline;
            font-weight: bold;
        }
        dd {
            display: inline;
            margin-bottom: 0.5em;
        }
        dd+dt {
            margin-left: 0.5em;
        }
    }
}
#alt-content {
    margin: 3em;
    display: none;
    font-size: 0.95em;
    font-style: italic;
    @media only screen and (max-width: $narrow-width) {
        display: inherit;
    }
}
