// Partials imports
@import 'global/variables';


// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}
header {
    flex: 0 1 auto;
    width: 100%;
    background-color: $color-2;
    padding: 0.5em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#title {
    font-size: 2em;
    margin: 0 0.2em;
    text-decoration: none;
    color: $color-5;
}
nav {
    height: 100%;
    margin-left: 2em;
    ul {
        height: 100%;
        display: flex;
        flex-direction: row;
        li {
            margin: 0;
            padding: 0;
        }
    }
    a {
        padding: 2px 0.5em;
        text-decoration: none;
        color: $color-5;
        transition: color 0.5s;
        &:hover, &.current {
            color: $color-1;
        }
    }
    li+li>a {
        border-left: solid 1px #444;
    }
}
.v-center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#content-container {
    flex: 1 1 auto;
    background-color: $color-3;
    padding: 1em 0 0; 
}
#content-column {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
#header-spacer {
    flex: 0 1 auto;
    height: 5em;
    background-image: linear-gradient(to bottom, 
            rgba(255, 255, 255, 0), 
            rgba(255, 255, 255, 0) 20%,
            rgba(255, 255, 255, 0.2) 20%,
            rgba(255, 255, 255, 0.2) 40%,
            rgba(255, 255, 255, 0.4) 40%,
            rgba(255, 255, 255, 0.4) 60%,
            rgba(255, 255, 255, 0.6) 60%,
            rgba(255, 255, 255, 0.6) 80%,
            rgba(255, 255, 255, 0.8) 80%,
        );
}
main {
    flex: 1 1 auto;
    background-color: white; 
    padding: 1em;
}
p { padding: 0.25em 1em; }
li { 
    margin-left: 2em; 
    padding: 0.25em 0; 
}
