@media only screen and (min-width: 600px) {
    /************************************/
    /***********Structural Rules*********/
    /************************************/
    .box {
		width: 50%;
		height: 50%;
	}
		
	#about_me {
		top: 0%;
		left: 0%;
	}

	#resume {
		top: 0%;
		left: 50%;
	}

	#portfolio {
		top: 50%;
		left: 0%;
	}

	#contact_me {
		top: 50%;
		left: 50%;
	}

	/************************************/
    /***********Content Rules************/
    /************************************/

}