@media only screen and (min-width: 900px) {
    /************************************/
    /***********Structural Rules*********/
    /************************************/
    main {
		width: 90%;
		border-left: 2px solid #666;
		border-right: 2px solid #666;
	}

	/************************************/
    /***********Content Rules************/
    /************************************/

}