/************************************/
/***********Structural Rules*********/
/************************************/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	background-color: #151515;
	height: 100%;
	color: white;
}

main {
	margin: 0 auto;
	min-height: 100%;
	background-color: black;
	position: relative;
}

.box {
	transition: all 1s ease, z-index 1s step-end;
	z-index: 0;
	width: 100%;
	height: 25%;
	position: absolute;
	left: 0%;
	top: 0%;
	overflow: hidden;
	background-size: cover;
}

#about_me {
	background-image: url("../images/stage.jpg");
	top: 0%;
}

#resume {
	background-image: url("../images/handshake1.jpg");
	top: 25%;
}

#portfolio {
	background-image: url("../images/computer.jpg");
	top: 50%;
}

#contact_me {
	background-color: darkgreen;
	top: 75%;
}

.box.focus {
	transition: all 1s ease, z-index 1s step-start;
	height: 100%;
	width: 100%;
	top: 0% !important;
	left: 0% !important;
	z-index: 1;
}


/************************************/
/***********Content Rules************/
/************************************/
.top {
	transition: all 1s ease;
	text-align: center;
	padding-top: 2em;
	height: 100%;
	width: 100%;
}

.focus .top {
	height: 20%;
}

.bottom {
	transition: all 1s ease;
	opacity: 0;
	padding: 2em;
}

.focus .bottom {
	opacity: 1;
}
