{{define "contact" -}}
<h1>Contact Me</h1>
<div id='page-content'>
    <div id="form-container">
        <h2>Send a Message</h2>
        <form action="/message" method="POST">
            <label for="form-name">Name</label>
            <input id="form-name" name="name" required>
            <label for="form-email">Email</label>
            <input type="email" id="form-email" name="email" required pattern="\b[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}\b">
            <label for="form-message">Message</label>
            <textarea id="form-message" name="message" rows=22 required placeholder="Write your message here..."></textarea>
            <button type="submit">Send <i class="fas fa-paper-plane"></i></button>
        </form>
    </div>
    <div id="contact-info">
        <h2>Contact Info</h2>
        <dl>
            <dt>Email:</dt><dd><a href="mailto: tim@itstimjohnson.com" class="plain-link">tim@itstimjohnson.com</a></dd>
        </dl>
    </div>
</div>
{{- end -}}