{{define "jumpybird" -}}
<h1>Jumpy Bird AI</h1>
<div id="jumpybird-ai">
    <div id="game-container"></div>
    <script>
        function resizeCanvas(e) {
            let container = document.getElementById('game-container');
            let canvas = document.querySelector('#game-container canvas');
            if (window.innerWidth > 600) {
                canvas.style.width = '';
            } else {
                canvas.style.width = `${container.getBoundingClientRect().width}px`;
            }
        }
        window.addEventListener('resize', resizeCanvas);
        document.addEventListener('DOMContentLoaded', resizeCanvas);
    </script>
    <div id="gen-display"></div>
    <hr>
    <div id="controls">
        <fieldset>
            <legend>Simulation Controls</legend>
            <div class="button-list">
                <button id="sim-start">Start</button>
                <button id="sim-pause">Pause</button>
                <button id="sim-resume">Resume</button>
                <button id="sim-reset">Reset</button>
            </div>
            <label for="sim-render-interval">Full Render Interval:</label>
            <input id="sim-render-interval" type="number" min="1" max="1000000">
        </fieldset>

        <fieldset class="js_disable-on-start">
            <legend>Bird Training Controls</legend>
            <div id="training-controls" class="center-grid-items">
                <label for="sim-pop-size">Population Size Per Generation:</label>
                <input id="sim-pop-size" type="number" min="1" max="5000">

                <label for="sim-num-gens">Number of Generations:</label>
                <input id="sim-num-gens" type="number" min="1" max="1000000">

                <label for="net-max-mutation">Maximum Mutation Change:</label>
                <div class="range-and-display">
                    <input id="net-max-mutation" type="range" min="0.01" max="0.5" step="0.01">
                    <div id="net-max-mutation-display">0.1</div>
                </div>

                <label for="net-mutation-chance">Mutation Chance:</label>
                <div class="range-and-display">
                    <input id="net-mutation-chance" type="range" min="0.01" max="1" step="0.01">
                    <div id="net-mutation-chance-display">0.2</div>
                </div>
            </div>
        </fieldset>

        <fieldset class="js_disable-on-start grid-bot">
            <legend>Neural Network Controls</legend>
            <div id="net-controls">
                <div>
                    <label for="net-num-layers">Number of Hidden Layers:</label>
                    <input id="net-num-layers" type="number" min="1" max="10">

                    <fieldset>
                        <legend>Neurons Per Layer</legend>
                        <div id="neuron-layer-inputs" class="grid2c center-grid-items"></div>
                    </fieldset>
                </div>

                <fieldset>
                    <legend>Bird Controller Inputs</legend>
                    <div id="net-inputs" class="center-grid-items">
                        <label for="net-input-xDist">Horizontal Distance To Next Pipe:</label>
                        <input id="net-input-xDist" type="checkbox" value="xDist">

                        <label for="net-input-yDist">Vertical Distance To Next Pipe:</label>
                        <input id="net-input-yDist" type="checkbox" value="yDist">

                        <label for="net-input-yDist2">Vertical Distance To Following Pipe:</label>
                        <input id="net-input-yDist2" type="checkbox" value="yDist2">

                        <label for="net-input-velocity">Vertical Velocity:</label>
                        <input id="net-input-velocity" type="checkbox" value="velocity">
                    </div>
                </fieldset>
            </div>
        </fieldset>
    </div>
</div>
{{- end -}}