// Color Palette
// https://coolors.co/2d2d2d-4cb1ff-d8d8f6-776258-e0fbfc
$primary-color: #4CB1FF;
$secondary-color: #996a36;//#776258;
$tertiary-color: #D8D8F6;

$background-color: #E0FBFC;
$font-color: #2D2D2D;

$content-width: 900px;
$narrow-width: 500px;
