@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.plain-link {
  color: #2D2D2D;
  text-decoration: none;
  transition: color 0.5s;
}
.plain-link:hover, .plain-link.current {
  color: #4CB1FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

input[type=text], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  color: #2D2D2D;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 900px) {
  body {
    display: block;
  }
}

header {
  background-color: #D8D8F6;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
  padding: 0.5em 1em;
  width: 100%;
}
@media only screen and (max-width: 900px) {
  header {
    display: block;
    text-align: center;
  }
}

#title {
  color: #2D2D2D;
  display: inline-block;
  font-size: 3em;
  margin: 0 0.2em;
  text-decoration: none;
}
@media only screen and (max-width: 900px) {
  #title {
    font-size: 2em;
    margin: 0 0 0.25em;
    width: 100%;
  }
}

nav {
  display: inline-block;
}
nav ul {
  height: 100%;
  display: flex;
  flex-direction: row;
}
nav ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav a {
  font-size: 1.5em;
  padding: 2px 0.5em;
}
@media only screen and (max-width: 1100px) {
  nav a {
    font-size: 1.125em;
  }
}
@media only screen and (max-width: 900px) {
  nav a {
    font-size: 1em;
  }
}
nav li + li > a {
  border-left: solid 1px #444;
}

#content-container {
  background-color: #E0FBFC;
  flex: 1 1 auto;
  margin-bottom: 3em;
  position: relative;
}
@media only screen and (max-width: 900px) {
  #content-container {
    position: static;
  }
}

footer {
  background-color: #2D2D2D;
  border-top-left-radius: 0.25em;
  bottom: 0;
  padding: 0.25em;
  position: fixed;
  text-align: right;
  right: 0;
}
@media only screen and (max-width: 900px) {
  footer {
    border-top-left-radius: 0;
    width: 100%;
  }
}
footer ul {
  display: inline-flex;
  flex-direction: row;
}
footer ul li {
  display: block;
}
footer a {
  margin: 0 0.25em;
}
footer .fab {
  color: white;
  font-size: 2.5em;
}
@media only screen and (max-width: 900px) {
  footer .fab {
    font-size: 2em;
  }
}

main {
  padding: 8em 3em 3em;
}
@media only screen and (max-width: 900px) {
  main {
    display: flex;
    flex-direction: column;
    padding: 2em 1.5em 3em;
  }
}
main img {
  float: right;
  max-width: 100%;
  margin: 0 3em 5em;
}
@media only screen and (max-width: 900px) {
  main img {
    margin: 0 auto;
  }
}
main #text {
  margin-left: 2em;
}
@media only screen and (max-width: 900px) {
  main #text {
    margin: 3em 0em 0;
  }
}
main h1 {
  font-size: 1.5em;
  font-weight: normal;
}
main h2 {
  margin-top: 0.75em;
  font-size: 1.5em;
}
main p {
  margin: 0.2em 0 0.5em;
  padding-left: 2em;
  font-size: 1.25em;
}
@media only screen and (max-width: 900px) {
  main p {
    font-size: 1.1em;
  }
}

/*# sourceMappingURL=home.css.map */
